.container-11
    .container-11__zapatos
        .container-11__zapatos-der
            .container-11__zapatos-vertical-der.zapato
        .container-11__zapatos-izq
            .container-11__zapatos-vertical-izq.zapato