.container-12
    .container-12__message
        p.container-12__message-p 
            | I know quite certainly that I myself have no special talent; curiosity, 
            span.container-12__message-p-span obsession
                span.modal
                    span.modal__pronounce [əbˈseʃ(ə)n]
                        span.modal__pronounce-icono.fa.fa-volume-up
                    span.modal__text
                        b.modal__text-bold Obsession
                        |, a persistent disturbing preoccupation with an often unreasonable idea or feeling.
            |and dogged endurance, combined with self-criticism have brought me to my ideas.
        p.container-12__message-author Albert Einstein
